/* CSS style sheet for the Login-UI project */


html, body {
    /* Set the height and width of the html page equal to the size of the browser */
    width: 100%;
    height: 100%;

    /* Set overflow to hidden to remove the scroll bars from the user's view. */
    overflow: hidden;
}

body {
    /* Set the font for the login-ui */
    font-family: monospace;

    /* Sets the body's display to flex to control the positioning of the container div */
    display: flex;

    /* Sets the flex properties of the elements in the body to align in the center both horizontally and vertically */
    align-items: center;
    justify-content: center;
}

.container {
    /* Enables flex control within the container div to allow positioning of the various elements */
    display: flex;

    /* Sets alignment of all elements within the container div to center both horizontally and vertically */
    align-items: center;

    /* Sets the ordering of the elements within the container div to stack vertically, or in a column */
    flex-direction: column;

    /* Declare a minimum width and height to prevent overflow */
    min-width: 500px;
    max-width: 520px;
    min-height: 300px;
    
    /* Sets the border-radius to round the div container's boarder edges */
    border-radius: 15px;

    /* Creates a drop shadow effect behind the div container*/
    box-shadow: 0px 0px 20px 2px rgb(207, 205, 205);
}

.sign-in {
    /* Increase the font size of the sign-in text */
    font-size: 40px;

    /* Sets the font's weight to normal */
    font-weight: normal;
}

.userInputs {
    /* Enables flex control over the individual text boxes and button */
    display: flex;

    /* Positions the text boxes and button with additional but even spacing between each element and centers them on screen */
    justify-content: space-around;
    align-items: center;

    /* Sets the ordering of the elements to stack vertically, or in a column */
    flex-direction: column;

    /* Set the height value for the text boxes and button */
    height: 200px;
}

.inputBox {
    /* Sets the width of the text boxes */
    width: 175px;

    /* Sets all sides of the text boxes' borders to transparent and then sets the bottom to black */
    border-color: transparent;
    border-bottom-color: black;
}

.inputBtn {
    /* Sets the height and width for the sign-in button */
    height: 30px;
    width: 200px;

    /* Sets the background color of the sign-in button to blue and its text color to white */
    background-color: #008CBA;
    color: #ffffff;

    /* Rounds the sign-in buttons boarder and sets its boarder color to be transparent*/
    border-radius: 10px;
    border-color: transparent;

    /* Sets the font size of the sign-in button */
    font-size: 12px;
}

.inputBtn:hover {
    /* Change the background color of the sign-in button to become a darker blue */
    background-color: rgba(0, 97, 129, 0.863)
}
