/* CSS style sheet for the Login-UI project */

html, body {
    /* Set the height and width of the html page equal to the size of the browser */
    width: 100vw;
    height: 100vh;

    /* Sets background to an image via a url */

    /* Image credit: Yuriy Kovalev*/
    background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: aliceblue;

    /* Set overflow to hidden to remove the scroll bars from the user's view. */
    overflow: hidden;
}

body {
    /* Set the font for the login-ui */
    font-family: monospace;

    /* Sets the body's display to flex to control the positioning of the container div */
    display: flex;

    /* Sets the flex properties of the elements in the body to align in the center both horizontally and vertically */
    align-items: center;
    justify-content: center;
}

.container {
    /* Enables flex control within the container div to allow positioning of the various elements */
    display: flex;

    /* Sets alignment of all elements within the container div to center both horizontally and vertically */
    align-items: center;

    /* Sets the ordering of the elements within the container div to stack vertically, or in a column */
    flex-direction: column;

    /* Declare a width and height of the container */
    width: 15%;
    height: 10%;

    /* Declare a minimum width and height to prevent overflow */
    min-width: 500px;
    min-height: 300px;
    
    /* Sets the border-radius to round the div container's boarder edges */
    border-radius: 15px;

    /* Creates a drop shadow effect behind the div container*/
    box-shadow: 0px 0px 20px 5px rgb(88, 210, 214);

    /* Sets the div container's background color */
    background-color: rgba(88, 210, 214, 0.397);
}

.sign-in {
    /* Increase the font size of the sign-in text */
    font-size: 40px;

    /* Sets the font's weight to normal */
    font-weight: normal;

    /* Changes the font color of the sign-in text */
    color: #ffffffd3;

    /* Adds a drop shadow to the sign-in text */
    text-shadow: rgb(18, 116, 119) 0px 0px 15px;
}

.userInputs {
    /* Enables flex control over the individual text boxes and button */
    display: flex;

    /* Positions the text boxes and button with additional but even spacing between each element and centers them on screen */
    justify-content: space-around;
    align-items: center;

    /* Sets the ordering of the elements to stack vertically, or in a column */
    flex-direction: column;

    /* Set the height value for the text boxes and button */
    height: 200px;
}

.inputBox {
    /* Sets the width of the text boxes */
    width: 175px;

    /* Sets all sides of the text boxes' borders to transparent and then sets the bottom to black */
    border-color: transparent;
    border-bottom-color: black;

    /* Rounds the edges of the text boxes */
    border-radius: 5px;

    /* Sets the background color of the text boxes*/
    background-color: rgba(83, 200, 204, 0.774);
}

.inputBtn {
    /* Sets the height and width for the sign-in button */
    height: 30px;
    width: 200px;

    /* Sets the background color of the sign-in button to blue and its text color to white */
    background-color: #008CBA;
    color: #ffffff;

    /* Rounds the sign-in buttons boarder and sets its boarder color to be transparent*/
    border-radius: 10px;
    border-color: transparent;

    /* Sets the font size of the sign-in button */
    font-size: 12px;
}

.inputBtn:hover {
    /* Change the background color of the sign-in button to become a darker color */
    background-color: rgb(0, 97, 129);
}

.inputBox:focus {
    /* Changes the background color of the text box when it has the user's focus */
    background-color: rgba(57, 181, 185, 0.795);
}

/* Checks to see if the browser window is only 700px wide or 500px tall */
@media (max-width: 700px) or (max-height: 500px) {
    /* If the media query is true, removes the background image */
    body,html {
        background-image: none;
    }
}